.jumbotron{
  text-align: center;
}
.jumbotron .name {
  font-size: 30px;
}
h2{
  padding-bottom: 20px;
}
.resolve li {
  list-style: none;
  padding:10px;
}
.resolve li:nth-child(odd){
  background-color: #F7E4E4;
}
.resolve li:nth-child(even){
  background-color: #eee;
}
a {
  display: block;
  padding: 0px 30px;
}
.mugshot, .name {
  text-align: center;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote p {
  display: inline;
}
blockquote cite {
  display:block;
  margin-left:20px;
}
.content .logo {
  margin:20px;
}
.space {
  margin-top:40px;
  margin-bottom:40px;
}