@font-face {
    font-family: 'Monda Bold';
    src: url('../fonts/Monda-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Monda Regular';
    src: url('../fonts/Monda-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.dark-purple {
	background-color: #241530;
}
.light-purple {
	background-color: #C095C8;
}
.teal-green {
	background-color: #00B062;
}
.light-grey {
	color:grey;
}
html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, small, b, i, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}
h1 {
	font-family: 'Monda Bold', 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}
header {
	min-height:80px;
	padding: 15px;
}

img.masthead {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
	color:#FFF;
	font-size:28px;
}
header h2 {
	color:#CCC;
	font-size:35px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
	line-height: 150%;
}
.intro, .about {
	padding: 50px;
	min-height:300px;
	text-align:left;
	line-height: 170%;
	max-width: 700px;
	margin: auto;
}
.about {
	clear:both;
}
.intro p, .about p {
	padding: 20px 20px 40px 20px;
}

.intro h1, .about h1 {
	font-size: 25px;
	line-height: 170%;
	letter-spacing: -0.4px;
	padding: 7px;
	color:#00B062;
}

.intro h3, .about h3 {
	font-size: 22px;
	line-height: 140%;
	letter-spacing: -0.4px;
	padding: 10px 20px 10px 20px;
}

.list-view {
	height:400px;
	border-bottom: 1px solid #00B062;
	border-top: 1px solid #00B062;
}
.item-view {
	width: 40%;
    float: left;
}
.map-view {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    width: 60%;
    float: right;
    margin-bottom: -75%;
}
.map-view iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
}

button {
	width:150px;
	height:60px;
	background-color: #241530;
	color:white;
	font-size:18px;
	border-radius:5px;
	border: 2px solid #C095C8;
}

button:hover {
	cursor: pointer;
}

footer {
	margin: 50px auto 0px;
	padding:10px;
	text-align:center;
	width:100%;
}

footer p {

}

footer img {
	margin:10px 30px;
}

#codebar-logo {
	height: 140px;
    margin-bottom: -25px;
}

#bdf-logo {
	height:90px;
}